* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252a; */
}

body {
    line-height: 1.4;
    color: var(--overlay-color);
}

p {
    color: darkslategray;
}

li {
    list-style-type: none;
}

.form-inline {
    flex-flow: initial;
}

.bg-light {
    background-color: #f8f9fa!important;
    border-bottom: 6px solid darkslategray;
}

.site-logo {
    width: 50px;
}

.site-logo-wrap {
    align-items: center;
}

.navbar-light .navbar-brand {
    color: darkorange;
    font-weight: 500;
    font-size: 1.4rem;
    margin-left: 5px;
    margin-right: 0px;
}

.landing-bg-wrapper {
    height: 400px;
}

.img-fluid {
    width: 100%;
    opacity: 0.6;
}

.landing-page-box-1,
.landing-page-box-2 {
    text-align: center;
    font-size: 17px;
    background: #f4f7f8;
    padding: 30px 5px;
}

.landing-page-box-2 {
    margin-top: 20px;
}

.fa-calendar-alt:before {
    content: "\f073";
    font-size: 40px;
    color: dimgray;
}

.learn-more-btn-box-1,
.quiz-btn-box {
    background: darkslategray;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    width: 215px;
    margin: auto;
    align-items: center;
}

.quiz-box {
    text-align: center;
    margin-top: 20px;
    border: 1.5px solid darkslategray;
    padding: 30px 8px;
}

.fa-brain:before {
    content: "\f5dc";
    color: dimgray;
    font-size: 40px;
}

.quiz-title {
    color: darkslategray;
    font-weight: 300;
    margin-top: 10px;
}

.care-needs-quiz {
    color: darkslategray;
    font-size: 22px;
    font-weight: 600;
}

.quiz-btn-box {
    background: darkred;
}

.learn-more,
.care-estimator-btn {
    text-decoration: underline;
    color: white;
    padding: 7px 40px;
}

.fa-chevron-right:before {
    content: "\f054";
    color: white;
}

.opening-paragraph {
    margin: 20px;
}

/* .opening-title {
    display: flex;
} */

.sentence-1,
.sentence-1-fs,
.sentence-1-hth {
    text-align: center;
    color: darkslategrey;
    font-style: italic;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

.fa-lightbulb:before {
    content: "\f0eb";
    font-size: 40px;
    color: dimgray;
}

.sentence-2,
.sentence-3 {
    font-style: normal;
    color: darkslategray;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.caregiver-img {
    width: 100%;
}

.caregiver-par-wrap {
    background-color: darkorange;
    color: #fff;
    padding: 30px 10px;
}

.caregiver-title {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

.caregiver-par {
    color: #fff;
}

.learn-more-btn-caregiver {
    display: flex;
    align-items: center;
}

.learn-more-caregiver {
    padding: 0;
    padding-right: 15px;
}

.what-to-expect {
    background: #f4f7f8;
    padding: 30px 10px;
}

.what-to-expect-title {
    font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 2rem;
    color: darkslategray;
}

.what-to-expect-par {
    text-align: justify;
}

.footer {
    background: darkslategray;
    padding: 40px 10px;
    color: #fff;
}

.footer-title-1 {
    font-size: 1.7rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-links {
    color: #fff;
    margin-bottom: 5px;
    font-weight: 100;
    text-decoration: underline;
}

/* .footer-partials-1 {
    border-bottom: 0.5px solid #fff;
} */

/* FAMILY SUPPORT ============================== */

.sentence-1-fs {
    margin-top: 70px;
}

.respite,
.partial-titles {
    color: darkslategray;
    font-size: 1.6rem;
}

.fs-body-wrapper,
.content-wrapper-hth,
.content-wrapper-cr,
.content-wrapper-hs {
    margin: 20px;
}

.play-it-safe,
.convo {
    color: darkslategray;
}

.convo {
    text-decoration: underline;
}


/* HOSPITAL TO HOME ============================== */

.sentence-1-hth {
    text-align: initial;
}

.hth-list li{
    list-style-type: circle;
    color: darkslategray;
}

.accordion>.card .card-header {
    text-align: center;
}

.partial-titles {
    font-weight: 400;
}


/* HOME CARE SERVICES ============================== */

.hs-quote-wrap {
    background: darkslategray;
    color: #fff;
    padding: 20px;
}

/* CARE COSTS AND RESOURCES ============================== */

.content-wrapper-cr {
    border-bottom: 1px solid lightgray;
}

/* MEDIA QUERY 1024px ============================== */

@media (min-width: 1024px) {

    .navbar-light .navbar-brand {
        font-size: 2rem;
        margin-left: 3px;
    }

    .site-logo {
        height: 75px;
        width: auto;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .landing-bg-wrapper {
        height: auto;
    }

    .img-fluid {
        height: 500px;
    }

    .opening-par-boxes {
        display: flex;
    }

    .landing-page-box-1,
    .landing-page-box-2,
    .quiz-box {
        width: 550px;
        margin: 20px;
    }

    .caregiver {
        display: flex;
        background: darkorange;
        justify-content: space-evenly;
    }

    .caregiver-img {
        width: 400px;
        height: 400px;
        padding: 20px;
    }

    .caregiver-par-wrap {
        width: 450px;
    }

    .what-to-expect-par {
        text-align: center;
    }

    /* CONTENT WRAPPERS ============================== */

    .content-wrapper-cr,
    .content-wrapper-hth,
    .content-wrapper-fs {
        width: 1000px;
        margin: auto;
        border-left: 1px solid green;
        border-right: 1px solid green;
        padding: 0px 100px;
        margin-bottom: 40px;
        border-bottom: none;
    }

    .content-wrapper-hs {
        width: 60%;
        margin: auto;
    }

    .hs-box-wrap-1,
    .hs-box-wrap-2 {
        width: 400px;
        margin: 20px;
    }

    .img-adjustment-1 {
        height: 322px;
    }
    
    .img-adjustment-2 {
        height: 297px;
        width: 392px;
    }

    .footer {
        display: flex;
    }

    .footer-partials-1,
    .footer-partials-2 {
        width: 40%;
        margin: auto;
    }

    .footer-img {
        width: 500px;
    }

}


/* PSEUDO ELEMENTS ============================== */

.navbar-light .navbar-nav .nav-link:hover {
    background: darkslategray;
    color: #fff;
    transition: all .2s cubic-bezier(0.6, 1.5, 0.6, 1);
    border-radius: 1px;
}







.package-list-bg-wrap {
    background: url('../images/package-list-bg.jpg')no-repeat center center/cover;
}

.package-list {
    background: rgba(47,79,79, .7);
    color: white;
}

.package-list-style {
    padding: 4px 5px;
    font-weight: 480;
}

.package-list-learn-more-1 {
    background: darkslategray;
    color: white;
    margin-top: -16px;
    padding: 10px;
}

.package-list-learn-more-2 {
    font-style: italic;
}