include layout

block content

title Citrine Home Care | Care Resources

.content-wrapper
  // Image and text
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .d-flex.site-logo-wrap
      img.d-inline-block.align-top.site-logo(src='static/media/citrine-logo-icon.png' alt='')
      a.navbar-brand(href='/') Citrine Home Care
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link(href='/homecare-services')
          | Home Care Services
          span.sr-only (current)
        a.nav-item.nav-link(href='/family-support') Family Support
        a.nav-item.nav-link(href='/hospital-to-home') Hospital to Home
        a.nav-item.nav-link.active(href='/care-resources') Care Costs &amp; Resources
        form.form-inline
          input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  .landing-bg-wrapper(style="background: url(static/media/landing-bg.jpg)no-repeat center center/cover;")
    img.img-fluid(src='static/media/citrine-logo-landing.png' alt='Responsive image')
  .content-wrapper-cr
    h3.sentence-1-hth.mt-5.mb-4 What Home Care Costs
    p.mb-4
      | You want to find the type of treatment that suits your needs when you explore the various options to you. Among the first concerns in your mind is how it will influence your bank account with your treatment decisions. You're not alone; most care seekers are concerned about the possible financial burden of long-term care compensation. What is the cost of residential care for you? It might be cheaper than you thought.
    h4.mt-4.partial-titles The Average Cost of Care
    p
      | Non-medical home care costs vary based on where you live and how much treatment you need. Determining the amount of hours you will need a week is the best way to prepare for home care. To assess your preferences and the amount of hours you might need, please take our free online home care estimator.
    p
      | As per Genworth's annual report, the "Cost of Care Survey-2018," home care costs less than other options such as day care for adults, assisted living and skilled nursing. Home care costs can vary based on the type of treatment that someone requires and where they are located in the United States.
    h4.mt-4.partial-titles Proactive Home Care to Maintain Independence At Home
    p
      | Home care is, of course, a much more attractive and affordable alternative. Home care can reduce accidents and injuries that result in medical visits and hospital stays. When caregivers from Citrine HomeCare assist with daily living tasks, they encourage better habits such as day-to-day activity, social interaction, healthy eating habits, and proper hygiene. A Citrine HomeCare caregiver can eliminate potential accidents or drops on their side, and having a steady hand can allow most people to be more comfortable on their feet.
    p
      | Our caregivers help keep track of prescriptions and can take your loved ones to medical appointments and from them. Medication reminders provided by a caregiver at Citrine HomeCare will stop our patients from forgetting to take their medication or overdosing, which can turn to more severe health issues. 
    p
      | Citrine HomeCare is pleased to offer services that enhance the quality of life of our customers and allow people to keep their independence in the home they love.
    p Give us a call today to learn more about your home care options with Citrine HomeCare (847) 933-9507.
  footer.footer
    .footer-partials-1
      h3.footer-title-1 Care &amp; Services
      p.footer-links
        a.footer-links(href='/homecare-services') Home Care Services
      p.footer-links
        a.footer-links(href='/family-support') Family Support
      p.footer-links
        a.footer-links(href='/hospital-to-home') Hospital to Home
      p.footer-links
        a.footer-links(href='/care-resources') Care Costs &amp; Resources
    .footer-partials-2
      img.footer-img(src='static/media/citrine-logo-landing.png' alt='')
